<div class="text-center">
  <div class="row mb-4 project posts">
    <div class="col-md-5 title-contribution">
      <h2 class="blog-title">{{title}}</h2>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
    <p class="post-contents-home">
      {{contents}}
    </p>
  </div>
  <p>
    {{#if comments.length}}
  <div style="padding-left: 30px;" class="col-md-6 comment-list">
    <h3>Leave a comment</h3>
    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{comment.description}}</h4>
        <p>{{comment.name}} on {{format_date comment.date_created}}</p>
      </div>
      <div class="col-md-4 delComBtn">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{#if logged_in}}
  <textarea style="margin-left: 30px; margin-top: 20px;" id="comment-box"></textarea>
  <button style="margin-bottom: 20px;" class="btn btn-primary" id="commentBtn" data-id="{{id}}">Comment</button>
  {{else}}
  <p>Login or sign-up to leave a comment</p>
  {{/if}}

  </p>
</div>

<script src="/js/post.js"></script>